@import '../assets/styles/partials/variables';
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');


body {
    padding: 0;
    margin: 0;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: 'DM Mono', monospace;
}

/* Block: .card-list */
.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #201c29;
        border-radius: 10px;
        box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
    }
}

/* Block: .card */
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    cursor: pointer;

    @media screen and (max-width:400px) {
        min-width: 300px;
    }

    /* Modifier: .card_hover */
    &:hover {
        transform: translateY(-1rem);

        /* Context selector for .card_hover state */
        ~ .card {
            transform: translateX(130px);
        }
    }

    /* Modifier: .card_not-first-child */
    &:not(:first-child) {
        margin-left: -130px;
    }

    /* Element: .card__header */
    &__header {
        margin-bottom: auto;

        /* Element: .card__header__paragraph */
        p {
            font-size: 14px;
            margin: 0 0 1rem;
            color: #7a7a8c;
        }

        /* Element: .card__header__heading */
        h2 {
            font-size: 20px;
            margin: .25rem 0 auto;
            cursor: pointer;

            &:hover {
                background: linear-gradient(90deg,#ff8a00,#e52e71);
                text-shadow: none;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    /* Element: .card__tags */
    &__tags {
        margin: 1rem 0 2rem;
        padding: .5rem 0 1rem;
        line-height: 2;
        margin-bottom: 0;

        /* Element: .card__tags__link */
        a {
            font-style: normal;
            font-weight: 700;
            font-size: .5rem;
            color: #7a7a8c;
            text-transform: uppercase;
            font-size: .66rem;
            border: 3px solid #28242f;
            border-radius: 2rem;
            padding: .2rem .85rem .25rem;
            position: relative;

            &:hover {
                background: linear-gradient(90deg,#ff8a00,#e52e71);
                text-shadow: none;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                -webkit-box-decoration-break: clone;
                background-clip: text;
                border-color: white;
            }
        }
    }

    /* Element: .card__author */
    &__author {
        position: relative;
        display: grid;
        grid-template-columns: 75px 1fr;
        align-items: center;
        margin: 3rem 0 0;

        /* Element: .card__author__avatar */
        &__avatar img {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            filter: grayscale(100%);
            margin: 16px 10px;
        }

        /* Element: .card__author__half-circle */
        &__half-circle {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            height: 48px;
            fill: none;
            stroke: #ff8a00;
            stroke-width: 8;
            stroke-linecap: round;
        }
    }
}