@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

.exercise-name {
    font-family:  'DM Mono', monospace;
}

.button1 {
    background-color: rgb(196, 174, 173) !important;
}

.button2 {
    background-color: rgb(215, 131, 127) !important;
}