@import './assets/styles/partials/global';
@import './assets/styles/partials/mixins';
@import './assets/styles/partials/variables';
@import './components/Carousel.scss';
@import './components/ExerciseCard.scss';
@import './components/Footer.scss';



* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.detail-icons {
  border: 2px solid rgba(17, 0, 47, 0.5);
  border-radius: 16px;
  background: #17141d;
  box-shadow: 5px 5px 5px rgba(39, 31, 55, 0.5);
  font-size: 20px;
  padding-left: 1px;
  height: 90px;

  transition: .2s;
}

.transitioning {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(20px);
}

.detail-icons Button {
  background-color: rgb(37, 3, 68);
  border-radius: 16px;
  height: 90px;
  width: 80px;
}

.detail-icons:hover {
  transform: translate(-0.5rem, -0.5rem)
}

.detail-icons:hover~.card {
  transform: translateX(130px);
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -330px;
  border-bottom-left-radius: 100px;
  box-shadow: -5px 30px 20px 0px rgba(0,0,0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.hero-banner-img:hover {
  transform: scale(1.03);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.navbar-link {
  transition: transform 0.3s ease-in-out;
}

.navbar-link:hover {
  transform: scale(1.05);
}

.detail-card {
  width: 120%;
  height: 742px;
  background: #000000;
  border: 5px solid #1a0f2d;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.detail-card img {
  filter: invert(100%);
}

@media screen and (max-width: 1200px) {
  .detail-card {
    width: 300px;
    height: auto
  }
}

.exercise-card {
  width: 400px;
  height: 400x;
  background: #000000;
  border: 7px solid #4c4558;
  border-radius: 20px;
  box-shadow: -1rem 0 3rem #000;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
  filter: invert(100%);
}

.pagination {
  filter: invert(100%);
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #893843 !important;
  border: 1px solid #893843 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

// BEM Styles

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;

    &-thumb {
      background: #201c29;
      border-radius: 10px;
      box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
    }

    &-track {
      background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
    }
  }
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5px;
  cursor: pointer;

  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;

  &:hover {
    transform: translateY(-1rem);
  }

  &:hover ~ & {
    transform: translateX(130px);
  }

  &:not(:first-child) {
    margin-left: -130px;
  }
}

.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin: 16px 10px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}

.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: .25rem 0 auto;
  cursor: pointer;

  &:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.tags {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;

  a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;

    &:hover {
      background: linear-gradient(90deg,#ff8a00,#e52e71);
      text-shadow: none;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-box-decoration-break: clone;
      background-clip: text;
      border-color: white;
    }
  }
}